.row {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#ced4da;
}
.container{
    background-color: #ced4da;
}