<div class="container">
   <div class="row">
      <div class="mb-4 p-5 bg-light rounded-3 text-center">
         <img src="assets/school.jpg" />
         <div class="display-5 fw-bold mt-4">Welcome To TalaT School</div>
         <div class="p-2">
            אם אתם חולמים:
            *להתעורר כל בוקר בטבע לריח של אדמה ולעבוד בחקלאות.
            *ללמוד לבגרות מלאה בארבע שעות ביום.
            *להכיר חברים איכותיים מכל הארץ.
            *לטייל בארץ ולהתאהב בה דרך הרגליים.
            *ללמוד על העם, על המדינה ועל החברה.
            *להתנסות במגוון חוגים - כושר קרבי ואומנות לחימה,
            מוסיקה, אומנות, יצירה ומלאכה.
            *לפתח בגרות ועצמאות.

            * זו ההזדמנות שלכם להגשים את החלום בבית ספר הפרטי של Tala.

         </div>
      </div>
   </div>
</div>